/* button shadow */
.hover-shadow {
  background-color: #292d3e;
  border: 1px solid #fbce00;
  transition: all 0.2s ease-in-out;
}
.hover-shadow:hover {
  box-shadow:
    1px 1px #d6ae0c,
    2px 2px #d6ae0c,
    3px 3px #d6ae0c;
  transform: translateX(-3px);
}
