html {
  /* background: #000; */
}

.loading {
  height: 20vw;
  width: 20vw;
  background: rgba(0, 0, 0, 0);
  border-radius: 50%;
  border: 2vw solid rgb(0, 0, 0);
  border-top-color: #ff0000;
  border-bottom-color: #ff0000;
  animation: spinner3 800ms ease infinite;
}

@keyframes spinner3 {
  to {
    transform: rotate(360deg);
  }
}
